
@font-face {
    font-family: 'BMJUA_ttf';
    src: url('http://d29kvorb1ovstg.cloudfront.net/CloudFrontTest/test1/BMJUA_ttf.ttf') format('truetype');
}

#three {
    color: red;
}

#one {
    color: blue;
    font-family: BMJUA_ttf;
}

#two {
    color: green;
    font-family: BMJUA_ttf;
}

#oneone {
    color: black;
}


