@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

@font-face {
    font-family: 'BMJUA_ttf';
    src: url('https://s3.ap-northeast-2.amazonaws.com/sh-edu-bucket/CloudFrontTest/test1/BMJUA_ttf.ttf') format('truetype');
}

#three {
    color: red;
}

#one {
    color: blue;
    font-family: BMJUA_ttf;
}

#two {
    color: green;
    font-family: BMJUA_ttf;
}

#oneone {
    color: black;
}


